.right-panel: {
  content: "";
  background-image: url('your-background.png'); 
  background-size: 80%;
  opacity: 0.2;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-repeat: no-repeat;
  background-position: center;
  z-index: 0;
}

.icon {
  width: 62px !important;
  height: 62px !important;
  cursor: pointer;
  z-index: 1;
}

.homeicon {
  width: 50px !important;
  height: 50px !important;
  cursor: pointer;
}

